<%= simple_form_for(@camcorder, :html => {:class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="form-inputs">
      <%= f.input :thread %>
      <%= f.input :name %>
      <%= f.input :stream_port %>
      <%= f.input :description, as: :text, :input_html => { :cols => 50, :rows => 3 } %><br />
    </div>

    <div class="form-actions">
      <%= f.submit "Сохранить", :class => "btn btn-primary" %>
      <%= link_to "Отменить", camcorders_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>