<h1>Профиль пользователя</h1>

<p>
  <b>Username:</b>
  <%=  @user.username %>
</p>
<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>
<p>
  <b>Роль:</b>
  <%= @user.role %>
</p>

<br />
<%= link_to 'Изменить', edit_user_path(@user), :class => "btn btn-primary" %>
<%= link_to 'Отменить', users_path, :class => "btn" %>
<%= link_to 'Удалить', user_path(@user), :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')),
                      :class => 'btn btn-danger' %>